<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %><br>
    <% article.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  
  <div>
   <%= form.label :status%></br>
   <%= form.select :status, ['public', 'private', 'archive'] , selcted: 'public'%>
  </div>
  <% article.errors.full_messages_for(:user).each do |message| %>
    <div> <%= message%> </div>
  <%end %>
  
  <%= form.label "Select Category"%></br>
  <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>
  <div>
    <%= form.submit %>
  </div>
<% end %>

