<h1><%= @article.title %></h1>
<% if @article.user %>
 <small> <strong> This article was created by <%=@article.user.username%> </strong>  </small>
<% end %> </br>
<small>

 <% if @article.categories.any? %>
  <strong>
   Categories : <% @categories.each do |category |%>
    <%= category.name %>
   <%end%>
 </strong> 
 <% end %>

</small>
<p><%= @article.description %></p>
<h2> Comments </h2>
<%= render @article.comments %>

<h2> Add a comment: </h2>
<%= render 'comments/form' %>

  <%= link_to "Back", articles_path %>
  <% if logged_in?  && ( @article.user == current_user || current_user.admin? )  %>
  <%= link_to "Edit", edit_article_path(@article) %> 
  <%= link_to "Delete", article_path(@article) , data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  }%> 
  <% end %>
