 <h1> <%= @user.admin? ? "Admin" : "User"%> information</h1>
<%= gravatar_for @user %>
<div> 
  <strong> Username : </strong>
  <%= @user.username%>
</div>
<div>
 <strong> Email : </strong>
 <%= @user.email%>
</div>

<% if @user.articles.size > 0 %>
<h4> <%=@user.username%>'s Articles </h4>
<% end %>

<%=render 'articles/article', obj:@user_articles%>
<%= will_paginate @user_articles%></br>

<%= link_to 'Back', users_path%>
<% if logged_in? && (current_user == @user || current_user.admin? ) %>

<%= link_to 'Edit', edit_user_path%>
<%= link_to 'Delete', user_path(@user) , data: {
  turbo_method: :delete,
  turbo_confirm: 'Are you sure?'
}%> 
<% end %>
